info.dtd.txt

<!ELEMENT student(name,Gender,section,branch,rollno,Libraryid,college,year)>
<!ELEMENT name(Fname,Lname)>
<!ELEMENT Fname(#PCDATA)>
<!ELEMENT Lname(#PCDATA)>
<!ELEMENT Gender(#PCDATA)>
<!ELEMENT section(#PCDATA)>
<!ELEMENT branch(#PCDATA)>
<!ELEMENT rollno(#PCDATA)>
<!ELEMENT Libraryid(#PCDATA)>
<!ELEMENT college(#PCDATA)>
<!ELEMENT year(#PCDATA)>
